.grid-live-container {
  display: flex;
  flex-direction: row;

  @media (max-width: 514px) {
    flex-direction: column;
  }

  margin-top: 20px;
  word-break: break-all;

  .grid-live-caption {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;

    .grid-live-caption-id {
      margin-top: 8px;
      font-size: 12px;
      font-weight: normal;
    }
  }

  .grid-live-source-producer-column {
    display: flex;
    flex-direction: column;
    min-width: 330px;

    @media (max-width: 514px) {
      min-width: 100%;
    }

    .grid-live-producer {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid var(--light-grey);
      border-radius: 5px;
      padding: 20px;

      .grid-live-source {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        width: 100%;

        img {
          width: 120px;
          height: 88px;
          margin-right: 20px;
        }

        .grid-live-source-info {
          flex: 1;
          font-weight: bold;

          .grid-live-source-info-id {
            margin-top: 8px;
            font-size: 12px;
            font-weight: normal;
          }
        }
      }
    }

    .grid-live-producer + .grid-live-producer {
      margin-top: 20px;
    }
  }

  .grid-live-grid-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 330px;
    margin-left: 20px;
    margin-right: 20px;

    @media (max-width: 514px) {
      min-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 20px;

    img {
      width: 196px;
      height: 196px;
    }
  }

  .grid-live-consumer-column {
    display: flex;
    flex-direction: column;
    min-width: 330px;

    @media (max-width: 514px) {
      min-width: 100%;
    }

    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 20px;

    .grid-live-consumer {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;

      img {
        width: 122px;
        height: 88px;
        margin-right: 20px;
      }

      .grid-live-consumer-info {
        flex: 1;
        font-weight: bold;

        .grid-live-consumer-info-id {
          margin-top: 8px;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }
}

.charts {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;

  .charts-title {
    font-size: 16px;
  }

  .charts-pie {
    position: relative;
  }

  .ct-chart {
    flex: 1;
  }

  .last-value {
    position: absolute;
    width: 120px;
    left: calc(50% - 60px);
    top: 117px;
    font-size: 36px;
    text-align: center;

    @media (max-width: 514px) {
      top: 125px;
      font-size: 28px;
    }
  }
}
