@import './node_modules/chartist/dist/scss/chartist';

.ct-series-a {
  .ct-slice-donut {
    stroke: var(--jade) !important;
  }
}

.ct-series-b {
  .ct-slice-donut {
    stroke: var(--blueberry) !important;
  }
}

$steps: 10;

@for $i from 0 to $steps {
    .ct-series:nth-of-type(#{$i + 1}) .ct-line {
      stroke: lighten(#1e9a93, percentage(($i / ($steps - 1) / 2))) !important;
    }
    .ct-series:nth-of-type(#{$i + 1}) .ct-point {
      stroke: lighten(#603f98, percentage(($i / ($steps - 1) / 2))) !important;
    }
}

// sass-lint:disable no-ids
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  nav {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px 10px 40px;
    border-bottom: 1px solid #eeeeee;

    @media (max-width: 767px) {
      padding: 10px 16px 10px 16px;
    }

    a {
      margin-right: 20px;
      color: var(--jade);
      line-height: 2;
      white-space: nowrap;
    }
  }

  .content {
    flex: 1;
    min-height: 200px;
    padding: 20px 40px 40px 40px;

    @media (max-width: 767px) {
      padding: 20px 16px 40px 16px;
    }
  }
}

.small-vertical-margin * {
  margin-top: 1px;
  margin-bottom: 1px;
}

.modal {
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
}